
<h2>Chart Demo</h2>

<div class="containe">
  <app-graphboard [nodes]="chartNodes"></app-graphboard>

</div>
<br>
<button (click)="addRandomNode()">Add Random Node</button>


<br>
<br>
<br>

<div class="borde">
  
</div>


<div class="caseoption-container">
  <app-caseoption 
    [description]="'A community for VR and novices alike, regular and friendly chat.'"

    
    
    >

  </app-caseoption>

</div>

<br>
<br>
<br>
<br>
<div class="menu-iconcontainer">
  <app-menuicon></app-menuicon>
  <app-profile-bloc></app-profile-bloc>

</div>




<br>
<br>
<br>
<br>

<div class="notif-item-container">
  <app-notif-item></app-notif-item>
  
</div>

<br>
<br>
<br>

<div class="button-container">
  <app-red-button></app-red-button>

</div>
<div class="button-container">
  <app-red-button [type]="'red'"></app-red-button>

</div>
<div class="button-container">
  <app-red-button [type]="'white'"></app-red-button>

</div>

<br>
<br>
<br>

<div class="burgivia-contaiver">
  <app-burgubia-section></app-burgubia-section>
</div>

<br>
<br>
<br>

<div class="cases-partner-container">
  <app-cases-partner></app-cases-partner>
</div>

<br>
<br>
<br>

<app-carousel-case-partner [slides]="slides"></app-carousel-case-partner>

<br>
<br>
<br>
<app-line-items></app-line-items>

<br>
<br>
<br>
<app-actulity-section [slides]="slides">
</app-actulity-section>

<br>
<br>
<br>

<app-description-section></app-description-section>

<br>
<br>
<br>


<app-profil-state></app-profil-state>
<br>
<br>
<br>


<app-profil-state styleState="white"></app-profil-state>
<br>
<br>
<br>


<app-profil-state UrlProfilImage="../assets/profil-comments.png" [connectedState]="true"></app-profil-state>
<br>
<br>
<br>


<app-profil-state  UrlProfilImage="../assets/profil-comments.png"></app-profil-state>

<br>
<br>
<br>
<app-profil-state styleState="white" [connectedState]="true" UrlProfilImage="../assets/profil-comments-blk.png"></app-profil-state>

<br>
<br>
<br>
<app-profil-state styleState="white" UrlProfilImage="../assets/profil-comments-blk.png"></app-profil-state>

<br>
<br>
<br>

<app-comment></app-comment>
<app-comment 
    UrlProfilImage="../assets/profil-comments.png"
   content="une personne avec photo de profil déconnecté">
  </app-comment>
<app-comment
    
    UrlProfilImage="../assets/profil-comments.png"
   content="une personne avec photo de profil connecté"
   [connectedState]="true"


></app-comment>

